{{! --TODO: Post Feed:
------------- Title
------------- Post Content
------------- Comments
------------- Delete Button
------------- Edit Button }}

{{! --TODO: New Post Card:
------------- Input field for title
------------- Dropdown selection for category
------------- Input for content of post }}
{{! TRAVELS }}
<div class="input-field col s12">
  <select id="mySelect" onchange="myFunction()">
    <option value="" disabled selected>Choose New Category to Post</option>
    <option value="Travel">Travel</option>
    <option value="Recipe">Recipe</option>
    <option value="Experience">Experience</option>
  </select>
  <label>Materialize Select</label>
</div>
<br />
<div id="demo"></div>

{{! --TODO: Modals:
------------- On delete, a message "Do you really want to delete this post?"
------------- On edit, a message "Your post was edited successfully!"
------------- On new post, a message "Your post was added successfully!"
------------- On any error, a message "Oops! Something went wrong." }}

<script src="/js/newPost.js"></script>