{{! --TODO: Post Feed:
------------- Title
------------- Post Content
------------- Comments
------------- Delete Button
------------- Edit Button }}

{{! --TODO: New Post Card:
------------- Input field for title
------------- Dropdown selection for category
------------- Input for content of post }}
{{! TRAVELS --}}
<h4>Travel</h4>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Location</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Budget</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Description</label>
      </div>
    </div>
    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="action"
    >Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
{{! RECIPE --}}
<h4>Recipe</h4>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Recipe Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Price</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Link to Recipe</label>
      </div>
    </div>
    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="action"
    >Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

{{! EXPERIENCE --}}
<h4>Experience</h4>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">New Experience</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="input_text" type="text" data-length="10" />
        <label for="input_text">Budget</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <p class="range-field">
          <input type="range" id="test5" min="1" max="5" />
        </p>
      </div>
    </div>
    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="action"
    >Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

  {{!-- On delete --}}
  <button data-target="modal7" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal7" class="modal">
    <div class="modal-content">
      <h4>Hey:</h4>
      <p>Do you really want to delete this post?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Yes</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On edit --}}
  <button data-target="modal8" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal8" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>Your post was edited successfully!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On post --}}
  <button data-target="modal9" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal9" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>Your post was added successfully!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On Error --}}
  <button data-target="modal10" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal10" class="modal">
    <div class="modal-content">
      <h4>Oops!</h4>
      <p>Something went wrong! Please try your post again.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

<script src="/js/newPost.js"></script>
