{{!--
James 
--TODO: Post Feed:
------------- Title
------------- Post Content
------------- Comments
------------- Delete Button
------------- Edit Button
Stephanie
--TODO: New Post Card:
------------- Input field for title
------------- Dropdown selection for category
------------- Input for content of post
--TODO: Modals:
------------- On delete, a message "Do you really want to delete this post?"
------------- On edit, a message "Your post was edited successfully!"
------------- On new post, a message "Your post was added successfully!"
------------- On any error, a message "Oops! Something went wrong."
 --}}






  {{!-- On delete --}}
  <button data-target="modal7" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal7" class="modal">
    <div class="modal-content">
      <h4>Hey:</h4>
      <p>Do you really want to delete this post?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Yes</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On edit --}}
  <button data-target="modal8" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal8" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>Your post was edited successfully!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On post --}}
  <button data-target="modal9" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal9" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>Your post was added successfully!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>

 {{!-- On Error --}}
  <button data-target="modal10" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal10" class="modal">
    <div class="modal-content">
      <h4>Oops!</h4>
      <p>Something went wrong! Please try your post again.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>