{{!-- 
Claudia
--TODO: Form:
------------ email input
------------ password input
------------ submit button

--TODO: Modal:
------------- Login failed! Your email or password is incorrect!

--}}















{{!-- Error modal, if login failed --}}
  <button data-target="modal3" class="btn  red darken-1 modal-trigger">Modal</button>
  <!-- Modal Structure -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Oops!</h4>
      <p>Your email address or password was incorrect. Please try again.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>
 </div>
 <div>