* {
  box-sizing: border-box;
}

header,
main,
footer {
  padding-left: 300px;
}

.date-container {
  display: flex;
}

#ending-date {
  padding-left: 3px;
}

#newPostLabel {
  padding-top: 15px;
}

#mySelect {
  padding-top: 20px;
}

.parallax-container {
  height: 350px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
