<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../../public/css/materialize.min.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Bucket</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav>navbar content here</nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background"></div>
          <a href="#user"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"
            ><span class="white-text email">jdandturk@gmail.com</span></a
          >
        </div>
      </li>
      <li>
        <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
      </li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <div class="trigger">
      <a href="#" data-target="slide-out" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
    </div>
    <!-- Search Bar -->
    <!-- Post Cards -->
    <!-- Footer -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script src="./js/materialize.min.js"></script>
    <script src="/js/index.js"></script>
    <script type="text/javascript">
      // $(".button-collapse").sideNav();
      const sidenavTrigger = document.querySelector(".trigger");
      sidenavTrigger.addEventListener("click", function (event) {
        event.preventDefault();
        console.log("Click2");
        sideNav();
      });
    </script>
  </body>
</html>
